*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.my_insta{
    display: flex;
    position: relative;
    top: 300px;
    right: 500px;
}

body{
    letter-spacing: 5px;
    font-family: 'Common Pixel', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/images/pokeball/background_pixel.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 105px;
    padding: 0;
}

.card{
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_back, .card_front{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 3px solid black;
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    background-color: rgb(255, 204, 204);
    transform: rotateY(180deg);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    cursor: not-allowed;
}

.card_back{
    background: none;
    border: none;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

/* tela de jogo acabou*/

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart{
    padding: 20px;
    font-size: 20px;
    background-color: white;
    /* font-family: 'Pokemon Solid', sans-serif; */
    border: none;
    border-radius: 10px;     
    margin-top: 10px;  
    cursor: pointer;
    font-family: 'Common Pixel', sans-serif;
}

#restart:hover{
    color: white;
    background-color: rgb(187, 37, 37);
    transition: 500ms;
}

.pkm_logo{
    width: 250px;
    display: flex;
    position: relative;
    bottom: 280px;
    left: 520px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.4));
}

/* game board style */

#gameBoard{
    position: relative;
    left: 2%;

    max-width: 900px;
    height: 400px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

/* responsive 600px < */

@media screen and (max-width:800px) {

    body{
        background-image: url(../assets/images/pokeball/background_pixel.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Common Pixel', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        width: 0vw;
        height: 690px;

    }
    
    img{
        width: 60px;
    }

    /* cards reponsive */

    .card_front img{
        width: 60px;
    }

    .card{
        width: 60px;
        height: 60px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s;
    }

    #gameBoard{
        position: relative;
        left: 260px;
        max-width: 300px;
        height: 450px;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr 1fr;
        gap: 4px;
    }

    .pkm_logo{
        width: 200px;
        display: flex;
        position: relative;
        bottom: 280px;
        left: 490px;
        filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.4));
    }
    

    .my_insta{
        display: flex;
        
        position: relative;
        top: 260px;
        left: 25px;
        font-size: 20px;
        height: 1px;
    }
    
}